{% extends 'shopbase.html' %}
{% block header %}

<style>
    #num{
    outline: none;
    display: block;
    width: 100%;
    border: 1px solid #d9d9d9;
    margin: 0 0 20px;
    padding: 10px 15px;
    box-sizing: border-box;
    font-wieght: 400;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    font-size: 14px;
    }
</style>

<!-- login -->
<div class="w3_login">
    <h3>Update Products</h3>
    <div class="w3_login_module">
        <div class="module form-module">
          <div class="toggle"><i class="fa fa-times fa-pencil"></i>
            <div class="tooltip">Click Me</div>
          </div>
          <!-- <div class="form">
            <h2>Login to your account</h2>
            <form action="#" method="post">
                {% csrf_token %}
              <input type="text" name="shopname" placeholder="shopname" required=" ">
              <input type="password" name="Password" placeholder="Password" required=" ">
              <input type="submit"  value="Login">
            </form>
          </div> -->
          <div class="form">
            <h2>update product...</h2>
            <form action="#" method="post" enctype="multipart/form-data">
                {% csrf_token %}
              <input type="text" name="shopname" value="{{pdtData.shopname}}" placeholder="shopname" required=" ">
              
              <input type="text" name="pdtname" value="{{pdtData.pdtname}}" placeholder="Product name" required=" ">
              <input type="number" value="{{pdtData.MRP}}" id="num" name="MRP" placeholder="MRP" required=" ">
              <input type="number" value="{{pdtData.offerprice}}" id="num" name="offerprice" placeholder="offer price" required=" ">
              <!-- <input type="text" name="Usertype" placeholder="Usertype" required=" "> -->
              <input type="text" value="{{pdtData.discription}}" name="discription" placeholder="Discription" required=" ">
              <input type="file"  name="image1" placeholder="product image" required=" "> <br>
              <input type="submit" value="Update">
            </form>
          </div>
          <!-- <div class="cta"><a href="#">Forgot your password?</a></div> -->

        </div>
    </div>
    <script>
        $('.toggle').click(function(){
          // Switches the Icon
          $(this).children('i').toggleClass('fa-pencil');
          // Switches the forms  
          $('.form').animate({
            height: "toggle",
            'padding-top': 'toggle',
            'padding-bottom': 'toggle',
            opacity: "toggle"
          }, "slow");
        });
    </script>
</div>
<!-- //login -->


{% endblock %}